# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Debug / Release folders
[Bb]in/
[Oo]bj/

# NuGet packages
packages/

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# Database files (nếu có)
*.mdf
*.ldf

# OS files
.DS_Store
Thumbs.db
